<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Error</title>
  </head>
  <body>
    <h1>Fallo con la sesion</h1>
    <a href='/'>Iniciar Sesion</a>
  </body>
</html>
