h1 {
  margin: 2%;
  width: 30%;
  padding-bottom: 20px;
  border-bottom: 1px solid blue;
}

.form {
  width : 20%;
  margin : 2%;
  padding: 15px;
  border: 1px solid black;
}

.signUp {
  margin-top: 2%;
  text-align: center;
}

#signUp {
  margin: auto;
}

.button {
  text-align: center;
}

.align {
  margin : 2%;
}

.align > input {
  float: right;
}
